.keyValueLayout {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
}

.keyValueLayout dt {
    font-weight: 600;
}

.keyValueLayout dd {
    margin: 0;
}
.keyValueLayout dt,
.keyValueLayout dd {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
}

.header{
    margin-top: 30px;
}

