name: Manuell deploy til demo-miljø
on:
  workflow_dispatch:

jobs:
  deploy-dev:
    name: Deploy til demo-miljø
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false
          ref: ${{ github.ref }}
      - name: Bygg og push docker image til GAR
        uses: nais/docker-build-push@main
        id: docker-push-demo
        with:
          team: holmes
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          build_secrets: NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}
      - name: Deploy til nais
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          IMAGE: ${{ steps.docker-push-demo.outputs.image }}
          RESOURCE: .nais/demo.yml
